<div class="container row">
  <div class="col-md-10">
    <h2><%= @article.title %></h2>
  </div>
  <div class="col-md-2">
    <table>
      <tr>
        <th><%= link_to "#{@user.full_name}", @user, class: "text-white", style: "float: right" %></th>
      </tr>
      <tr>
        <th><%= created_at_time(@article) %></th>
      </tr>
    </table>
  </div>
  <div class="justify-content-center">
    <%= @article.article_content %>
  </div>
</div>