<% content_for :title, "Kategorie" %>
<table class="table table-bordered text-white mt-3">
  <thead>
  <tr>
    <th scope="col">Název</th>
    <th scope="col">Popis</th>
    <th scope="col">Vytvořeno</th>
    <th scope="col">Možnosti</th>
  </tr>
  </thead>
  <tbody>
  <%= render @topics %>
  </tbody>
</table>