<div class="row">
  <div class="col-md-4">
    Účet založen: <%= registered_at_time(@user) %>
    <br>
    Poslední přihlášení: <%= last_login_time(@user) %>
  </div>
  |
  <div class="col-md-3">
    Moje příspěvky
    <button class="btn btn-primary"></button>
  </div>
  <div class="col-md-3">

  </div>
</div>

